/* Your CSS Code here. */

body {
	background-color: lightgrey;
}

.holder {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-1 {
	background-color: pink;
	height: 200px;
	width: 200px;
}
p {
	text-align: center;
}